<!DOCTYPE html>
<html>
  <head>
   
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <title>instapost</title>
  
  <style>
    .nav{
      width:100%;
      background: #7FFFD4;
      height: 70px;
      
    }

    ul {
      list-style: none;
      padding:0;
      margin: 0;
      position: absolute;
    }

    li {
      float: left;
      margin-top: 15px;
    }

    .tabs{
      width: 150px;
      color:white;
      display:block;
      text-decoration: none;
      font-size: 18px;
      text-align: center;;
      padding: 5px;
      border-radius: 5px;
      font-family: Century Gothic;
      font-weight: bold

    }

    .tabs:hover{
      background: #9ACD32;
      transition: 0.05;
    }

    .imagebg{
  margin-top: 20px;
  height: 600px;
  width: 600px;
  background-color: #008080; 
}

  </style>
  
  </head>
  <body>
  	 <!-- Navigation -->
      <div class="nav">
        
          <ul>
            <li class="tabs">
              <%= link_to "Instapost", root_url%>
            </li>
            <li class="tabs">
        		<%= link_to "New Post", new_post_path %>
            </li>
            <%- if current_user %>
            <li class="tabs">
            	<%= link_to "Logout", destroy_user_session_path, method: :delete, confirm: "Are you sure ?" %>
            </li>
              <% else %>
                <li class="tabs">
            	   <%= link_to "Login", new_user_session_path %>
                </li>
                <li class="tabs">
            	   <%= link_to "Register", new_user_registration_path %>
                </li>
              <% end %>
          </ul>
        </div>
      </div>
   
    

     <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          	<% flash.each do |a, b| %>
          	<div class="alert alert-success"> <%= b %> </div>
          	<% end %>
        	<%= yield %>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
